/* no flex, no grids, just floats */
* {
    box-sizing: border-box;
}

header,
footer {
    height: 100px;
    width: 100%;
    clear: left;
}

header,
footer,
section {
    background: rgb(217, 217, 217);
    border: 2px solid rgb(191, 191, 191);
}

.end {
    width: 20%;
}

.left {
    width: 45%;
}

.right {
    width: 15%;
}

.end,
.left,
.right {
    height: 500px;
    float: left;
}